# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.
Babel>=1.3
eventlet>=0.17.4
Flask<1.0,>=0.10
keystonemiddleware>=2.0.0
pbr<2.0,>=1.4
python-ironicclient>=0.6.0
python-keystoneclient>=1.6.0
oslo.config>=1.11.0 # Apache-2.0
oslo.db>=2.0 # Apache-2.0
oslo.i18n>=1.5.0 # Apache-2.0
oslo.log>=1.8.0 # Apache-2.0
oslo.utils>=1.9.0 # Apache-2.0
six>=1.9.0
stevedore>=1.5.0 # Apache-2.0
